<header>
  <nav class="header-nav">
    <article class="header-brand">
      <a href="#"><h3>The Mobile Hour</h3></a>
    </article>
    <article class="header-navbar-links">
      <ul>
        <!-- if admin, can access all. if user, can only access products page -->
        <li><a href="/staff_admin">Staff</a></li>
        <li><a href="/product_admin">Products</a></li>
        <li><a href="/order_admin">Orders</a></li>
        <li><a href="/changelog_admin">Changelog</a></li>
        <li><a href="/staff_logout">Logout</a></li>
      </ul>
    </article>
  </nav>
</header>
