<footer>
  <h3>The Mobile Hour</h3>
  <article class="footer-policy">
    <ul>
      <li>Copyright &copy; 2023 The Mobile Hour. All Rights Reserved</li>
      <li>
        <span><a href="#">Privacy Policy</a></span
        >|<span><a href="#">Copyright Policy</a></span
        >|<span><a href="/staff_login">Staff Login</a></span>
      </li>
    </ul>
  </article>
  <article class="footer-social">
    <ul>
      <!-- Facebook logo -->
      <li>
        <svg
          width="35"
          height="35"
          viewBox="0 0 11 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.58731 0.257904C2.90133 0.257904 0.723907 2.43532 0.723907 5.12131C0.723907 7.80729 2.90133 9.98471 5.58731 9.98471C8.2733 9.98471 10.4507 7.80729 10.4507 5.12131C10.4507 2.43532 8.2733 0.257904 5.58731 0.257904ZM6.09417 5.33493V7.98088H4.9994V5.33504H4.45245V4.42323H4.9994V3.87578C4.9994 3.13193 5.30824 2.6896 6.18569 2.6896H6.91619V3.60152H6.45957C6.118 3.60152 6.09541 3.72894 6.09541 3.96676L6.09417 4.42312H6.92136L6.82456 5.33493H6.09417Z"
            fill="black"
          />
        </svg>
      </li>
      <!-- Instagram logo -->
      <li>
        <svg
          width="35"
          height="35"
          viewBox="0 0 11 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.52906 0.257904C2.84308 0.257904 0.665657 2.43532 0.665657 5.12131C0.665657 7.80729 2.84308 9.98471 5.52906 9.98471C8.21505 9.98471 10.3925 7.80729 10.3925 5.12131C10.3925 2.43532 8.21505 0.257904 5.52906 0.257904ZM4.45971 2.54317C4.73639 2.53058 4.82479 2.5275 5.52924 2.5275H5.52843C6.23309 2.5275 6.32117 2.53058 6.59785 2.54317C6.87398 2.55581 7.06258 2.59953 7.22793 2.66367C7.3987 2.72987 7.54298 2.81849 7.68726 2.96278C7.83154 3.10695 7.92017 3.25167 7.98663 3.42227C8.0504 3.58719 8.09417 3.77568 8.10714 4.05181C8.11957 4.32849 8.12281 4.4169 8.12281 5.12134C8.12281 5.82578 8.11957 5.91398 8.10714 6.19065C8.09417 6.46668 8.0504 6.65522 7.98663 6.8202C7.92017 6.99074 7.83154 7.13546 7.68726 7.27963C7.54314 7.42392 7.39864 7.51276 7.2281 7.57901C7.06306 7.64315 6.87436 7.68687 6.59823 7.69951C6.32155 7.7121 6.23341 7.71518 5.52891 7.71518C4.82452 7.71518 4.73617 7.7121 4.45949 7.69951C4.18341 7.68687 3.99487 7.64315 3.82984 7.57901C3.65935 7.51276 3.51463 7.42392 3.37051 7.27963C3.22628 7.13546 3.13766 6.99074 3.07136 6.82015C3.00727 6.65522 2.96355 6.46673 2.95085 6.1906C2.93831 5.91392 2.93518 5.82578 2.93518 5.12134C2.93518 4.4169 2.93842 4.32843 2.9508 4.05176C2.96322 3.77573 3.007 3.58719 3.0713 3.42221C3.13777 3.25167 3.22639 3.10695 3.37067 2.96278C3.51485 2.81855 3.65956 2.72993 3.83016 2.66367C3.99509 2.59953 4.18357 2.55581 4.45971 2.54317Z"
            fill="black"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.29659 2.99483L5.44283 2.99481L5.52928 2.99483C6.22184 2.99483 6.30392 2.99732 6.57741 3.00975C6.83031 3.02131 6.96757 3.06357 7.059 3.09907C7.18005 3.14609 7.26635 3.20229 7.35708 3.29307C7.44786 3.38386 7.50406 3.47032 7.55118 3.59136C7.58669 3.68269 7.629 3.81995 7.64051 4.07285C7.65294 4.34628 7.65564 4.42842 7.65564 5.12065C7.65564 5.81288 7.65294 5.89502 7.64051 6.16846C7.62894 6.42136 7.58669 6.55861 7.55118 6.64994C7.50417 6.77098 7.44786 6.85718 7.35708 6.94791C7.26629 7.03869 7.1801 7.09489 7.059 7.1419C6.96768 7.17757 6.83031 7.21972 6.57741 7.23128C6.30398 7.24371 6.22184 7.24641 5.52928 7.24641C4.83667 7.24641 4.75459 7.24371 4.48115 7.23128C4.22825 7.21961 4.091 7.17735 3.99951 7.14185C3.87846 7.09484 3.792 7.03864 3.70122 6.94785C3.61043 6.85707 3.55423 6.77082 3.50711 6.64972C3.47161 6.5584 3.42929 6.42114 3.41778 6.16824C3.40536 5.89481 3.40287 5.81267 3.40287 5.12C3.40287 4.42734 3.40536 4.34563 3.41778 4.0722C3.42935 3.8193 3.47161 3.68204 3.50711 3.59061C3.55412 3.46956 3.61043 3.3831 3.70122 3.29232C3.792 3.20153 3.87846 3.14533 3.99951 3.09821C4.09094 3.06254 4.22825 3.0204 4.48115 3.00878C4.72043 2.99797 4.81316 2.99473 5.29659 2.99419V2.99483ZM6.91375 3.4256C6.74191 3.4256 6.60249 3.56486 6.60249 3.73675C6.60249 3.90859 6.74191 4.04801 6.91375 4.04801C7.08559 4.04801 7.22501 3.90859 7.22501 3.73675C7.22501 3.56491 7.08559 3.42549 6.91375 3.42549V3.4256ZM4.19728 5.12136C4.19728 4.38576 4.79368 3.78935 5.52928 3.78932C6.2649 3.78932 6.86116 4.38574 6.86116 5.12136C6.86116 5.85699 6.26495 6.45314 5.52933 6.45314C4.79371 6.45314 4.19728 5.85699 4.19728 5.12136Z"
            fill="black"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.52933 4.25678C6.00682 4.25678 6.39395 4.64386 6.39395 5.1214C6.39395 5.59888 6.00682 5.98601 5.52933 5.98601C5.0518 5.98601 4.66472 5.59888 4.66472 5.1214C4.66472 4.64386 5.0518 4.25678 5.52933 4.25678V4.25678Z"
            fill="black"
          />
        </svg>
      </li>
      <li>
        <!-- Twitter logo -->
        <svg
          width="35"
          height="35"
          viewBox="0 0 11 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.47081 0.257904C2.78483 0.257904 0.607407 2.43532 0.607407 5.12131C0.607407 7.80729 2.78483 9.98471 5.47081 9.98471C8.1568 9.98471 10.3342 7.80729 10.3342 5.12131C10.3342 2.43532 8.1568 0.257904 5.47081 0.257904ZM5.33533 4.37907L5.32512 4.21079C5.29451 3.77462 5.56325 3.37623 5.98848 3.22168C6.14497 3.16673 6.41031 3.15986 6.58381 3.20795C6.65184 3.22855 6.78111 3.29724 6.87296 3.35906L7.03966 3.47239L7.22336 3.41401C7.32541 3.3831 7.46148 3.33158 7.52272 3.29724C7.58055 3.26633 7.63158 3.24916 7.63158 3.25946C7.63158 3.31785 7.50571 3.51704 7.40025 3.62694C7.25737 3.78149 7.2982 3.79523 7.58735 3.69219C7.76085 3.63381 7.76425 3.63381 7.73023 3.69906C7.70982 3.73341 7.60436 3.85361 7.4921 3.96351C7.3016 4.1524 7.29139 4.17301 7.29139 4.33099C7.29139 4.57483 7.17573 5.08312 7.06007 5.3613C6.84575 5.88333 6.3865 6.42253 5.92725 6.69384C5.2809 7.07506 4.42023 7.17122 3.69564 6.94799C3.4541 6.87243 3.03908 6.68011 3.03908 6.64576C3.03908 6.63546 3.16495 6.62172 3.31803 6.61829C3.6378 6.61142 3.95758 6.52213 4.22973 6.36414L4.41343 6.25424L4.20251 6.18212C3.90315 6.07909 3.6344 5.84212 3.56637 5.61888C3.54595 5.54676 3.55276 5.54333 3.74326 5.54333L3.94057 5.53989L3.77388 5.4609C3.57657 5.3613 3.39627 5.19302 3.30782 5.0213C3.24319 4.89766 3.16155 4.58513 3.18536 4.56109C3.19216 4.55079 3.2636 4.5714 3.34525 4.59887C3.57997 4.68473 3.61059 4.66412 3.47452 4.51988C3.21938 4.25887 3.14113 3.87078 3.2636 3.5033L3.32143 3.33845L3.54595 3.56169C4.0052 4.01159 4.5461 4.27947 5.16524 4.35846L5.33533 4.37907Z"
            fill="black"
          />
        </svg>
      </li>
      <li>
        <!-- Linkedin logo -->
        <svg
          width="35"
          height="35"
          viewBox="0 0 11 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.41268 0.257904C2.7267 0.257904 0.549278 2.43532 0.549278 5.12131C0.549278 7.80729 2.7267 9.98471 5.41268 9.98471C8.09867 9.98471 10.2761 7.80729 10.2761 5.12131C10.2761 2.43532 8.09867 0.257904 5.41268 0.257904ZM2.88388 4.28591H3.98604V7.59743H2.88388V4.28591ZM4.05868 3.2616C4.05152 2.93691 3.81933 2.6896 3.44229 2.6896C3.06525 2.6896 2.81876 2.93691 2.81876 3.2616C2.81876 3.57957 3.05797 3.83399 3.42799 3.83399H3.43503C3.81933 3.83399 4.05868 3.57957 4.05868 3.2616ZM6.69203 4.20829C7.4173 4.20829 7.96102 4.68169 7.96102 5.69885L7.96098 7.59757H6.85887V5.82591C6.85887 5.3809 6.69938 5.07724 6.3004 5.07724C5.99591 5.07724 5.81454 5.28195 5.73488 5.47967C5.70574 5.55053 5.69859 5.64926 5.69859 5.74823V7.59766H4.5963C4.5963 7.59766 4.61083 4.59688 4.5963 4.28614H5.69859V4.75519C5.84487 4.52971 6.10686 4.20829 6.69203 4.20829Z"
            fill="black"
          />
        </svg>
      </li>
    </ul>
  </article>
</footer>
