<header>
  <nav class="header-nav">
    <div class="header-brand">
      <a href="/"><h3>The Mobile Hour</h3></a>
    </div>
    <button aria-label="toggle menu" id="menu-toggle-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 39 23"
        class="openIcon"
      >
        <rect y="0.0551758" width="38.1491" height="4.03932" fill="black" />
        <rect
          x="0.00012207"
          y="9.48022"
          width="38.1491"
          height="4.03932"
          fill="black"
        />
        <rect
          x="0.00012207"
          y="18.9053"
          width="21.4589"
          height="4.03932"
          fill="black"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="closeIcon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
    <article class="header-navbar-links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/product_list">Products</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </article>
  </nav>
</header>
