<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <title>The Mobile Hour - About Us</title>
  </head>
  <body>
    <!-- Header / nav -->
    <%- include("partials/header.ejs") %>
    <main>
      <section class="about-section">
        <h1>About Us</h1>
        <article class="about-banner-container">
          <h3 class="about-banner-title">Welcome to The Mobile Hour</h3>
        </article>
        <article class="about-history-container">
          <h2>History of The Mobile Hour</h2>
          <div class="about-history-content">
            <p>
              Founded in 2010, The Mobile Hour swiftly emerged as a trailblazer
              in the online mobile phone retail industry. Established by tech
              enthusiasts keen on delivering seamless digital shopping
              experiences, the company carved a niche for itself by focusing
              exclusively on top-tier mobile phone brands. With a commitment to
              quality, authenticity, and customer satisfaction, The Mobile Hour
              gained a reputation for offering the latest smartphones from
              renowned manufacturers.
            </p>
            <p>
              In its early years, the company faced challenges typical of the
              burgeoning e-commerce landscape but overcame them through
              innovative marketing strategies and a user-friendly website
              interface. By fostering partnerships with leading smartphone
              manufacturers, The Mobile Hour secured exclusive deals, enabling
              customers to access cutting-edge technology at competitive prices.
              Customer trust and loyalty became the bedrock of The Mobile Hour's
              success, with a dedicated customer support team providing expert
              advice and assistance.
            </p>
            <p>
              In the current day, The Mobile Hour stands tall as a reliable hub
              for mobile enthusiasts worldwide, offering not just phones, but a
              gateway to the future of digital connectivity. With a legacy built
              on integrity and a forward-looking approach, the company continues
              to redefine the online mobile phone shopping experience.
            </p>
          </div>
        </article>
        <article class="store-values-container">
          <h3>Our Company Values</h3>
          <div class="store-values-wrapper">
            <!-- Value 1 -->
            <div class="store-value">
              <img
                src="../img/morale-icon.png"
                alt="measuring scales morality"
              />
              <h4>Integrity</h4>
            </div>
            <!-- Value 2 -->
            <div class="store-value">
              <img
                src="../img/critical-thinking-icon.png"
                alt="critical thinking brain"
              />
              <h4>Critical thinking</h4>
            </div>
            <!-- Value 3 -->
            <div class="store-value">
              <img
                src="../img/people-icon.png"
                alt="three people standing shoulder to shoulder"
              />
              <h4>Inclusive culture</h4>
            </div>
          </div>
        </article>
      </section>
    </main>
    <!--  Footer -->
    <%- include("partials/footer.ejs") %>
  </body>
</html>
