<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <title>The Mobile Hour - About Us</title>
  </head>
  <body>
    <!-- Header / nav -->
    <%- include("partials/header.ejs") %>
    <main>
      <section class="about-section">
        <h1>About Us</h1>
      </section>
    </main>
    <!--  Footer -->
    <%- include("partials/footer.ejs") %>
  </body>
</html>
