<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <title>The Mobile Hour - Contact Us</title>
  </head>
  <body>
    <!-- Header / nav -->
    <%- include("partials/header.ejs") %>
    <main>
      <section class="contact-section">
        <h1>Contact Us</h1>
        <article class="contact-information-container">
          <article class="contact-store-location">
            <div class="contact-icon" id="destination-icon">
              <img
                src="./img/location-icon.svg"
                alt="destination icon"
                height="50"
                width="30"
              />
            </div>
            <p>13 Grove Street, Melbourne, VIC.</p>
          </article>
          <article class="contact-store-number">
            <div class="contact-icon" id="phone-icon">
              <img
                src="./img/phone-icon.svg"
                alt="phone icon"
                height="50"
                width="30"
              />
            </div>
            <p>0362 567 101</p>
          </article>
          <article class="contact-email">
            <div class="contact-icon" id="email-icon">
              <img
                src="./img/email-icon.svg"
                alt="email icon"
                height="50"
                width="30"
              />
            </div>
            <p>support@themobilehour.com</p>
          </article>
          <article class="contact-trading-hours">
            <div class="contact-icon" id="clock-icon">
              <img
                src="./img/clock-icon.svg"
                alt="clock icon"
                height="50"
                width="30"
              />
            </div>
            <ul>
              <li>Monday: 9am-5:30pm</li>
              <li>Tuesday: 9am-5:30pm</li>
              <li>Wednesday: 9am-5:30pm</li>
              <li>Thursday: 9am-5:30pm</li>
              <li>Friday: 9am-9pm</li>
              <li>Saturday: 9am-5pm</li>
              <li>Sunday: 10am-5pm</li>
            </ul>
          </article>
        </article>
      </section>
    </main>
    <!--  Footer -->
    <%- include("partials/footer.ejs") %>
  </body>
</html>
