<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <title>The Mobile Hour - Home</title>
  </head>
  <body>
    <!-- Header / nav -->
    <%- include("partials/header.ejs") %>
    <main>
      <section class="home-section">
        <article class="store-guarantees-container">
          <h2 class="store-guarantee"><span>Premium </span>Mobile Phones.</h2>
          <h2 class="store-guarantee">
            <span>Exceptional </span>Customer Service.
          </h2>
          <h2 class="store-guarantee"><span>Trusted </span>Mobile Retailer.</h2>
        </article>
        <article class="featured-brands-container">
          <h3 class="featured-brands-title">Featured Brands</h3>
          <article class="featured-brands-wrapper">
            <!-- Brand - Apple -->
            <div class="brand-logo variation">
              <img src="./img/apple-logo.png" alt="apple logo" />
            </div>
            <!-- Brand 2 - Google -->
            <div class="brand-logo">
              <img src="./img/google-logo.png" alt="google logo" />
            </div>
            <!-- Brand 3 - Samsung -->
            <div class="brand-logo">
              <img src="./img/samsung-logo.png" alt="samsung logo" />
            </div>
            <!-- Brand 4 - Huawei-->
            <div class="brand-logo">
              <img src="./img/huawei-logo.png" alt="huawei logo" />
            </div>
            <!-- Brand 5 - Oppo -->
            <div class="brand-logo variation">
              <img src="./img/oppo-logo.png" alt="oppo logo" />
            </div>
            <!-- Brand 6 - Xiamoi -->
            <div class="brand-logo">
              <img src="./img/xiaomi-logo.png" alt="xiaomi logo" />
            </div>
          </article>
        </article>
        <article class="btn-container">
          <a href="/product_list" class="button-primary button" role="button"
            >Shop Now</a
          >
          <a href="/about" class="button-secondary button" role="button"
            >Learn More</a
          >
        </article>
      </section>
    </main>
    <!--  Footer -->
    <%- include("partials/footer.ejs") %>
  </body>
</html>
