<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <title>The Mobile Hour - Product Admin</title>
  </head>
  <body>
    <!-- Header / nav -->
    <%- include("partials/admin_navigation.ejs") %>
    <main>
      <h1>Product Admin</h1>
    </main>
    <!--  Footer -->
    <%- include("partials/footer.ejs") %>
  </body>
</html>
