<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <title>The Mobile Hour - Staff Login</title>
  </head>
  <body>
    <!-- Header / nav -->
    <%- include("partials/header.ejs") %>
    <main>
      <section class="login-section">
        <form action="/staff_login" method="post" class="login-form">
          <article class="login-form-content">
            <div class="login-form-header">Login</div>
            <!-- Username -->
            <label for="username">Username:</label>
            <input
              type="text"
              class="login-form-input"
              name="username"
              placeholder="Enter your username"
              required
            />
            <!-- Password -->
            <label for="password">Password:</label>
            <input
              type="password"
              class="login-form-input"
              name="password"
              placeholder="Enter your password"
              required
            />
            <article class="login-form-buttons">
              <a href="/" class="button-secondary button">Back</a>
              <input
                type="submit"
                value="Login"
                class="button-primary button"
              />
            </article>
          </article>
        </form>
      </section>
    </main>
    <%- include("partials/footer.ejs") %>
    <!--  Footer -->
  </body>
</html>
