/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
/* external css files */

/* GENERAL CSS */
@import url("sections/header.css");
@import url("sections/home.css");
@import url("sections/about.css");
@import url("sections/contact.css");
@import url("sections/footer.css");

/* PRODUCT CSS */
@import url("sections/product_list.css");
@import url("sections/product_checkout.css");

/* STAFF CSS */
@import url("sections/staff_login.css");
@import url("sections//staff_admin.css");

/* ORDER CSS */
@import url("sections/order_admin.css");
@import url("sections/order_admin_nav.css");
@import url("sections/order_admin_create.css");
@import url("sections/order_confirmation.css");

/* css variables for reusability */

:root {
  --light-grey: #f2f2f2;
  --black: #000000;
  --white: #ffffff;
  --primary-color: #ffa723;
  --dark-grey: #171a20;
  --color-error: #cc3333;
  --color-success: #4bb544;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  background-color: var(--light-grey);
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

main {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  margin-top: 10px;
}

/* Buttons */

.button {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  height: 38px;
  max-width: 120px;
  width: 100%;
  text-transform: capitalize;
}

.button-primary {
  background-color: var(--dark-grey);
  color: var(--white);
}

.button-secondary {
  background-color: var(--primary-color);
  color: var(--dark-grey);
}

.stock-available {
  color: var(--color-success);
  font-weight: 600;
}

.stock-unavailable {
  color: var(--color-error);
  font-weight: 600;
}

/* GENERAL ADMIN LAYOUT */

.admin-section {
  margin: 0 auto;
  width: 90%;
  max-width: 1500px;
}

.admin-title {
  text-align: center;
  margin-top: 20px;
}

/* Input styling */

textarea {
  resize: none;
}

/* Grid Column Styling */

.data-grid {
  display: grid;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.column-3 {
  grid-template-columns: repeat(3, 1fr);
}

.column-4 {
  grid-template-columns: repeat(4, 1fr);
}

.column-5 {
  grid-template-columns: repeat(5, 1fr);
}

.column-6 {
  grid-template-columns: repeat(6, 1fr);
}

.column-heading {
  font-weight: 600;
}

.changelog {
  text-align: center;
}

/* Status Section Styling */

.status-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* media queries */

@media screen and (max-width: 700px) {
  .changelog {
    text-align: center;
  }
}
