.contact-section {
  margin-top: 50px;
}

.contact-section h1 {
  text-align: center;
}

.contact-store-location {
  text-align: center;
  margin-top: 60px;
}
.contact-store-location p {
  margin-top: 10px;
}

.contact-store-number {
  text-align: center;
  margin-top: 60px;
}

.contact-email {
  text-align: center;
  margin-top: 60px;
}

.contact-trading-hours {
  text-align: center;
  margin-top: 60px;
}

.contact-trading-hours ul {
  list-style: none;
  line-height: 50px;
}

.contact-trading-hours > ul > li {
  font-size: 16px;
}
