.phone-card-content span {
  font-weight: bold;
  font-size: 20px;
  color: var(--primary-color);
  border: 1px solid var(--black);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.phone-card-content h4 {
  margin: 30px 0 10px 0;
  text-transform: uppercase;
}

.order-confirmation-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid var(--black);
  padding: 1rem;
  gap: 15px;
  margin-top: 30px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  max-width: 600px;
  width: 100%;
}

.order-confirmation-details label {
  font-weight: 600;
}

.form-buttons {
  display: flex;
  gap: 30px;
}
