.checkout-section {
  margin-top: 20px;
}

.phone-card-single {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-card-single img {
  max-width: 550px;
  width: 100%;
}

.phone-card-img {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.phone-card-single h2 {
  text-align: center;
  margin-bottom: 20px;
}

.phone-card-single p {
  max-width: 600px;
  line-height: 1.2;
}

.phone-card-single-content {
  text-align: center;
}
.phone-card-single-content div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 18px;
  place-items: center;
  gap: 50px;
  font-weight: 600;
  margin-bottom: 30px;
}

.phone-card-single-content h4 {
  margin: 30px 0px 10px 0;
  text-transform: uppercase;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-form {
  margin-top: 30px;
  border: 1px solid var(--black);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.15);
  padding: 30px;
  max-width: 800px;
  width: 100%;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-form-input {
  width: 100%;
  min-width: 150px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  background: var(--white);
  outline: none;
  transition: border-color 0.5s;
}

.create-form-input:focus {
  border-color: var(--primary-color);
}

.create-form-header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.create-form-buttons {
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 750px) {
  .form-title {
    font-size: 18px;
  }
}
